# 4th Notebook - Explore the Municipalities - try create bubble plot
Create Geodataframe to be used for chloropleth and/or bubble plot of the municipalities
Create if possible, a function that will create a similar plot for each province

1) Extract Geometry (POINT) of each municipality using Google Maps API 
2) Count cardiac arrests per municipality using the geometry column 
3) Count AED per municipality using the geometry column
4) create a dataframe whith municipality,AED number, Cardiac arrests number, geometry, (AED/POPUPALTION), (AED/CARDIAC ARRESTS)

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd 
import matplotlib as plt
import googlemaps
import re
import plotly.express as px
import plotly.io as pio

In [2]:
area_provinces = gpd.read_file("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AREA_PROVINCES_NEW.geojson") 
aed_geo = gpd.read_file("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AED_GEO.geojson")
aed_within_provinces = gpd.read_file("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AED_WITHIN_PROVINCES.geojson")

In [74]:
# Create art_within_neighborhoods by spatially joining art_geo and neighborhoods
provinces_contain_aed = gpd.sjoin(area_provinces, aed_geo, predicate = 'contains')

# Print the shape property of art_within_neighborhoods
print(provinces_contain_aed.shape)

(10618, 15)

In [75]:
provinces_contain_aed.head()

,province_left,area_klm2,center,geometry,index_right,id,address,number,postal_code,municipality,province_right,unique_address,points_coordinates,lat,lng
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4...",796,1811.0,meester van der borghtstraat,150,2580,putte,antwerpen,"meester van der borghtstraat,150,2580,putte,an...","(4.656337499999999, 51.02713139999999)",51.027131,4.656338
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4...",9403,15301.0,leo kempenaersstraat,32,2223,schriek,antwerpen,"leo kempenaersstraat,32,2223,schriek,antwerpen","(4.6949919, 51.028606)",51.028606,4.694992
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4...",8914,14693.0,wolfsdonksesteenweg,204,2230,herselt,antwerpen,"wolfsdonksesteenweg,204,2230,herselt,antwerpen","(4.8935358, 51.0322207)",51.032221,4.893536
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4...",8908,14682.0,kerkstraat,1,2230,herselt,antwerpen,"kerkstraat,1,2230,herselt,antwerpen","(4.879942799999999, 51.0528155)",51.052816,4.879943
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4...",7949,12920.0,blaubergsesteenweg,24,2230,herselt,antwerpen,"blaubergsesteenweg,24,2230,herselt,antwerpen","(4.886724399999999, 51.05284349999999)",51.052844,4.886724

In [5]:
aed_within_provinces.head()

,id,address,number,postal_code,municipality,province_left,unique_address,points_coordinates,lat,lng,index_right,province_right,area_klm2,geometry
0,13.0,blvd. fr. roosevelt,24,7060,soignies,hainaut,"blvd. fr. roosevelt,24,7060,soignies,hainaut","(4.0655019, 50.5767646)",50.576765,4.065502,6.0,hainaut,9401.428447,POINT (4.06550 50.57676)
1,70.0,ch. de wégimont,76,4630,ayeneux,liège,"ch. de wégimont,76,4630,ayeneux,liège","(5.7397828, 50.6105697)",50.610570,5.739783,7.0,liège,9531.529485,POINT (5.73978 50.61057)
2,74.0,rue des prémontrès,12,4020,liège,liège,"rue des prémontrès,12,4020,liège,liège","(5.5739754, 50.6380181)",50.638018,5.573975,7.0,liège,9531.529485,POINT (5.57398 50.63802)
3,75.0,route de bastogne,1,4920,harzé,liège,"route de bastogne,1,4920,harzé,liège","(5.6658992, 50.4411102)",50.441110,5.665899,7.0,liège,9531.529485,POINT (5.66590 50.44111)
4,76.0,rue du parc,1,4540,jehay,liège,"rue du parc,1,4540,jehay,liège","(5.3231573, 50.5772875)",50.577287,5.323157,7.0,liège,9531.529485,POINT (5.32316 50.57729)

1) List the municipalities of Antwerp
2) Inspect to see how to clean the list

In [3]:
aed_within_antwerpen = aed_within_provinces[aed_within_provinces["province_right"]=="antwerpen"]
aed_within_antwerpen

,id,address,number,postal_code,municipality,province_left,unique_address,points_coordinates,lat,lng,index_right,province_right,area_klm2,geometry
13,102.0,nieuwe weg,1,2070,zwijndrecht,antwerpen,"nieuwe weg,1,2070,zwijndrecht,antwerpen","(4.3253167, 51.2433477)",51.243348,4.325317,0.0,antwerpen,7323.997641,POINT (4.32532 51.24335)
41,277.0,adriaan brouwerstraat,24,2000,antwerpen,antwerpen,"adriaan brouwerstraat,24,2000,antwerpen,antwerpen","(4.4043543, 51.227416)",51.227416,4.404354,0.0,antwerpen,7323.997641,POINT (4.40435 51.22742)
42,282.0,kempenarestraat,53,2860,sint-katelijne-waver,antwerpen,"kempenarestraat,53,2860,sint-katelijne-waver,a...","(4.5223492, 51.0627368)",51.062737,4.522349,0.0,antwerpen,7323.997641,POINT (4.52235 51.06274)
51,319.0,sint-katelijnestraat,154,2800,mechelen,antwerpen,"sint-katelijnestraat,154,2800,mechelen,antwerpen","(4.475662, 51.0340147)",51.034015,4.475662,0.0,antwerpen,7323.997641,POINT (4.47566 51.03401)
53,321.0,patersstraat,100,2300,turnhout,antwerpen,"patersstraat,100,2300,turnhout,antwerpen","(4.9478332, 51.3247548)",51.324755,4.947833,0.0,antwerpen,7323.997641,POINT (4.94783 51.32475)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10588,16616.0,kerkeblokken,11,2560,nijlen,antwerpen,"kerkeblokken,11,2560,nijlen,antwerpen","(4.6692877, 51.158472)",51.158472,4.669288,0.0,antwerpen,7323.997641,POINT (4.66929 51.15847)
10592,16623.0,gasthuisstraat,10,2560,kessel,antwerpen,"gasthuisstraat,10,2560,kessel,antwerpen","(4.6282575, 51.1374909)",51.137491,4.628258,0.0,antwerpen,7323.997641,POINT (4.62826 51.13749)
10594,16625.0,wederik,7,2390,oostmalle,antwerpen,"wederik,7,2390,oostmalle,antwerpen","(4.7287911, 51.3094081)",51.309408,4.728791,0.0,antwerpen,7323.997641,POINT (4.72879 51.30941)
10606,16648.0,prins boudewijnlaan,70,2610,wilrijk,antwerpen,"prins boudewijnlaan,70,2610,wilrijk,antwerpen","(4.4239083, 51.1786635)",51.178663,4.423908,0.0,antwerpen,7323.997641,POINT (4.42391 51.17866)
10607,16649.0,westerlosesteenweg,37,2220,heist-op-den-berg,antwerpen,"westerlosesteenweg,37,2220,heist-op-den-berg,a...","(4.7380783, 51.0734467)",51.073447,4.738078,0.0,antwerpen,7323.997641,POINT (4.73808 51.07345)

In [210]:
municipalities_antwerpen = list(aed_within_provinces[aed_within_provinces["province_right"]=="antwerpen"]["municipality"].unique())
len(municipalities_antwerpen)

151

In [211]:
aed_within_provinces[aed_within_provinces["municipality"]=="mechelen"]["postal_code"].unique()

array([2800, 2812], dtype=int64)

In [8]:
# # Function to obtain the element in the parenthesis
# municipalities_antwerpen_cleaned = []
# for i in municipalities_antwerpen:
#     if "(" in i and ")" in i:
#         municipalities_antwerpen_cleaned.append(i.split()[1].strip("()"))
#     elif ")" in i and "(" not in i:
#         i = i.replace(")"," ").strip(" ").replace(".", "")
#         municipalities_antwerpen_cleaned.append(i)
#     # if "." in i:
#     #     i = i.replace("."," ")
#     #     i.strip(" ")
#     #     municipalities_antwerpen_cleaned.append(i)
#     elif "." in i:
#         i = i.replace(".", " ").strip(" ")
#     elif len(i) > 1:
#          municipalities_antwerpen_cleaned.append(i)


# municipalities_antwerpen_cleaned

In [4]:
def clean_municipality(i):
     if "(" in i and ")" in i:
          return i.split()[1].strip("()")
     elif ")" in i and "(" not in i:
          return i.replace(")"," ").strip(" ").replace(".", "")
     elif "." in i:
          return i.replace(".", " ").strip(" ")
     elif len(i) == 1:
         return np.nan
     else:
          return i

In [5]:
aed_within_antwerpen["new_municipality"]=aed_within_antwerpen["municipality"].apply(lambda x: clean_municipality(x))

c:\KU Leuven\Modern Data Analytics - MDA\MDA Project\.venv\Lib\site-packages\geopandas\geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [6]:
aed_within_antwerpen.isna().sum()

id                    0
address               0
number                0
postal_code           0
municipality          0
province_left         0
unique_address        0
points_coordinates    0
lat                   0
lng                   0
index_right           0
province_right        0
area_klm2             0
geometry              0
new_municipality      1
dtype: int64

In [79]:
aed_within_antwerpen.dropna(inplace=True)

C:\Users\Johnn\AppData\Local\Temp\ipykernel_23796\278487284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aed_within_antwerpen.dropna(inplace=True)

In [80]:
aed_within_antwerpen.isna().sum()

id                    0
address               0
number                0
postal_code           0
municipality          0
province_left         0
unique_address        0
points_coordinates    0
lat                   0
lng                   0
index_right           0
province_right        0
area_klm2             0
geometry              0
new_municipality      0
dtype: int64

In [81]:
aed_within_antwerpen["new_municipality"].unique()

array(['zwijndrecht', 'antwerpen', 'sint-katelijne-waver', 'mechelen',
       'turnhout', 'lille', 'bornem', 'westerlo', 'hoboken',
       'heist-op-den-berg', 'geel', 'wommelgem', 'wilrijk', 'aartselaar',
       'beerse', 'berchem', 'oevel', 'edegem', 'grobbendonk', 'mortsel',
       'nijlen', 'berlaar', 'puurs', 'olen', 'lier', 'kapellen', 'ravels',
       'schilde', 'hulshout', 'duffel', 'muizen', 'putte', 'herentals',
       'tisselt', 'willebroek', 'hemiksem', 'balen', 'malle', 'wijnegem',
       'breendonk', 'borsbeek', 'bonheiden', 'brasschaat', 'schoten',
       'burcht', 'zemst', 'mol', 'leest', 'hoogstraten', 'hove',
       'kalmthout', 'vorselaar', 'stabroek', 'brecht', 'boom', 'zoersel',
       'westmalle', 'weelde', 'kontich', 'rumst', 'boechout', 'merksplas',
       'rijmenam', 'borgerhoutantwerpen', 'meerhout', 'herenthout',
       'meerle', 'meer', 'ekerenantwerpen', 'dessel', 'merksem',
       'arendonk', 'deurne', 'zandhoven', 'tielen', 'wuustwezel',
       'eindhout', 'terhagen', 'essen', 'pulderbos', 'viersel',
       'massenhoven', 'pulle', 'borsbeekantw', 'schelle',
       'wechelderzande', 'niel', 'lichtaart', 'kasterlee', 'rijkevorsel',
       'hombeek', 'oud-turnhout', 'zoerle-parwijs', 'tongerloantw',
       'noorderwijk', 'minderhout', 'wortel', 'vosselaar', 'lint',
       'onze-lieve-vrouw-waver', 'booischot', 'broechem', 'oelegem',
       'westmeerbeek', 'bruxelles', 'ranst', 'kessel', 'laakdal',
       'oostmalle', 'temse', 'keerbergen', 'londerzeel', 'koningshooikt',
       'waarloos', 'borgerhout', 'retie', 'blaasveld', 'vlimmeren',
       'lille-gierle', 'lille-poederlee', 'loenhout', 'zijndrecht',
       'oud-turnout', 'puurs-sint-amands', 'poppel', 'zandvliet',
       'herselt', 'mol - ginderbuiten', 'eikevliet', 'wintam', 'emblem',
       'morkhoven', 'veerle', 'olmen', 'herenthals', 'beerzel', 'ekeren',
       'puurs - sint - amands', 'sint-job- t-goor', 'reet', 'schriek',
       'lillo', 'anvers', 'puurs-sinr-amands', 'gierle', 'baarle-hertog',
       'artselaar'], dtype=object)

In [ ]:
#################3

In [82]:
def remove_antw_after_text(x):
    pattern = r'(?<!^)antw'
    pattern_2 = r'antw.*'
    if re.search(pattern, x):
        x = re.sub(pattern_2, '', x)
        return x
    else:
        return x

In [83]:
aed_within_antwerpen["new_municipality"] = aed_within_antwerpen["new_municipality"].apply(remove_antw_after_text)

c:\KU Leuven\Modern Data Analytics - MDA\MDA Project\.venv\Lib\site-packages\geopandas\geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [84]:
aed_within_antwerpen["new_municipality"].unique()

array(['zwijndrecht', 'antwerpen', 'sint-katelijne-waver', 'mechelen',
       'turnhout', 'lille', 'bornem', 'westerlo', 'hoboken',
       'heist-op-den-berg', 'geel', 'wommelgem', 'wilrijk', 'aartselaar',
       'beerse', 'berchem', 'oevel', 'edegem', 'grobbendonk', 'mortsel',
       'nijlen', 'berlaar', 'puurs', 'olen', 'lier', 'kapellen', 'ravels',
       'schilde', 'hulshout', 'duffel', 'muizen', 'putte', 'herentals',
       'tisselt', 'willebroek', 'hemiksem', 'balen', 'malle', 'wijnegem',
       'breendonk', 'borsbeek', 'bonheiden', 'brasschaat', 'schoten',
       'burcht', 'zemst', 'mol', 'leest', 'hoogstraten', 'hove',
       'kalmthout', 'vorselaar', 'stabroek', 'brecht', 'boom', 'zoersel',
       'westmalle', 'weelde', 'kontich', 'rumst', 'boechout', 'merksplas',
       'rijmenam', 'borgerhout', 'meerhout', 'herenthout', 'meerle',
       'meer', 'ekeren', 'dessel', 'merksem', 'arendonk', 'deurne',
       'zandhoven', 'tielen', 'wuustwezel', 'eindhout', 'terhagen',
       'essen', 'pulderbos', 'viersel', 'massenhoven', 'pulle', 'schelle',
       'wechelderzande', 'niel', 'lichtaart', 'kasterlee', 'rijkevorsel',
       'hombeek', 'oud-turnhout', 'zoerle-parwijs', 'tongerlo',
       'noorderwijk', 'minderhout', 'wortel', 'vosselaar', 'lint',
       'onze-lieve-vrouw-waver', 'booischot', 'broechem', 'oelegem',
       'westmeerbeek', 'bruxelles', 'ranst', 'kessel', 'laakdal',
       'oostmalle', 'temse', 'keerbergen', 'londerzeel', 'koningshooikt',
       'waarloos', 'retie', 'blaasveld', 'vlimmeren', 'lille-gierle',
       'lille-poederlee', 'loenhout', 'zijndrecht', 'oud-turnout',
       'puurs-sint-amands', 'poppel', 'zandvliet', 'herselt',
       'mol - ginderbuiten', 'eikevliet', 'wintam', 'emblem', 'morkhoven',
       'veerle', 'olmen', 'herenthals', 'beerzel',
       'puurs - sint - amands', 'sint-job- t-goor', 'reet', 'schriek',
       'lillo', 'anvers', 'puurs-sinr-amands', 'gierle', 'baarle-hertog',
       'artselaar'], dtype=object)

In [85]:
postal_code_per_municipality = aed_within_antwerpen.groupby("new_municipality")['postal_code'].value_counts()
postal_code_per_municipality = postal_code_per_municipality.reset_index()
postal_code_per_municipality
# result_groupby = aed_within_antwerpen.groupby("new_municipality")['postal_code'].value_counts().reset_index(name='count')

    new_municipality  postal_code  count
0         aartselaar         2630     25
1          antwerpen         2000     88
2          antwerpen         2030     61
3          antwerpen         2018     57
4          antwerpen         2040     25
..               ...          ...    ...
166            zemst         2800      1
167       zijndrecht         2070      1
168   zoerle-parwijs         2260      1
169          zoersel         2980      2
170      zwijndrecht         2070     11

[171 rows x 3 columns]

In [222]:
postal_code_per_municipality["count"].unique()

array([25, 88, 61, 57, 24, 17, 13,  7,  6,  5,  4,  3,  1,  2, 18, 39,  8,
       26, 12, 15, 10, 32, 11, 34, 20, 22, 31, 38, 84, 16, 27,  9, 29, 48,
       33], dtype=int64)

In [223]:
postal_code_per_municipality[postal_code_per_municipality["new_municipality"]=="aartselaar"]["postal_code"].reset_index(drop=True)[0]

2630

In [224]:
postal_code_municipality = {}
for i in postal_code_per_municipality["new_municipality"]:
    if i not in postal_code_municipality.keys():
        postal_code_municipality[i]=postal_code_per_municipality[postal_code_per_municipality["new_municipality"]==i]["postal_code"].reset_index(drop=True)[0]

In [225]:
postal_code_municipality

{'aartselaar': 2630,
 'antwerpen': 2000,
 'anvers': 2000,
 'arendonk': 2370,
 'artselaar': 2630,
 'baarle-hertog': 2387,
 'balen': 2490,
 'beerse': 2340,
 'beerzel': 2580,
 'berchem': 2600,
 'berlaar': 2590,
 'blaasveld': 2830,
 'boechout': 2530,
 'bonheiden': 2820,
 'booischot': 2221,
 'boom': 2850,
 'borgerhout': 2140,
 'borgerhouterpen': 2140,
 'bornem': 2880,
 'borsbeek': 2150,
 'brasschaat': 2930,
 'brecht': 2960,
 'breendonk': 2870,
 'broechem': 2520,
 'bruxelles': 1000,
 'burcht': 2070,
 'dessel': 2480,
 'deurne': 2100,
 'duffel': 2570,
 'edegem': 2650,
 'eikevliet': 2880,
 'eindhout': 2430,
 'ekeren': 2180,
 'ekerenerpen': 2180,
 'emblem': 2520,
 'essen': 2910,
 'geel': 2440,
 'gierle': 2275,
 'grobbendonk': 2280,
 'heist-op-den-berg': 2220,
 'hemiksem': 2620,
 'herentals': 2200,
 'herenthals': 2200,
 'herenthout': 2270,
 'herselt': 2230,
 'hoboken': 2660,
 'hombeek': 2811,
 'hoogstraten': 2320,
 'hove': 2540,
 'hulshout': 2235,
 'kalmthout': 2920,
 'kapellen': 2950,
 'kasterlee': 2460,
 'keerbergen': 3140,
 'kessel': 2560,
 'koningshooikt': 2500,
 'kontich': 2550,
 'laakdal': 2430,
 'leest': 2811,
 'lichtaart': 2460,
 'lier': 2500,
 'lille': 2275,
 'lille-gierle': 2275,
 'lille-poederlee': 2275,
 'lillo': 2040,
 'lint': 2547,
 'loenhout': 2990,
 'londerzeel': 1840,
 'malle': 2390,
 'massenhoven': 2240,
 'mechelen': 2800,
 'meer': 2321,
 'meerhout': 2450,
 'meerle': 2328,
 'merksem': 2170,
 'merksplas': 2330,
 'minderhout': 2322,
 'mol': 2400,
 'mol - ginderbuiten': 2400,
 'morkhoven': 2200,
 'mortsel': 2640,
 'muizen': 2812,
 'niel': 2845,
 'nijlen': 2560,
 'noorderwijk': 2200,
 'oelegem': 2520,
 'oevel': 2260,
 'olen': 2250,
 'olmen': 2491,
 'onze-lieve-vrouw-waver': 2861,
 'oostmalle': 2390,
 'oud-turnhout': 2360,
 'oud-turnout': 2360,
 'poppel': 2382,
 'pulderbos': 2242,
 'pulle': 2243,
 'putte': 2580,
 'puurs': 2870,
 'puurs - sint - amands': 2870,
 'puurs-sinr-amands': 2870,
 'puurs-sint-amands': 2870,
 'ranst': 2520,
 'ravels': 2380,
 'reet': 2840,
 'retie': 2470,
 'rijkevorsel': 2310,
 'rijmenam': 2820,
 'rumst': 2840,
 'schelle': 2627,
 'schilde': 2970,
 'schoten': 2900,
 'schriek': 2223,
 'sint-job- t-goor': 2960,
 'sint-katelijne-waver': 2860,
 'stabroek': 2940,
 'temse': 9140,
 'terhagen': 2840,
 'tielen': 2460,
 'tisselt': 2830,
 'tongerlo': 2260,
 'turnhout': 2300,
 'veerle': 2431,
 'viersel': 2240,
 'vlimmeren': 2340,
 'vorselaar': 2290,
 'vosselaar': 2350,
 'waarloos': 2550,
 'wechelderzande': 2275,
 'weelde': 2381,
 'westerlo': 2260,
 'westmalle': 2390,
 'westmeerbeek': 2235,
 'wijnegem': 2110,
 'willebroek': 2830,
 'wilrijk': 2610,
 'wintam': 2880,
 'wommelgem': 2160,
 'wortel': 2323,
 'wuustwezel': 2990,
 'zandhoven': 2240,
 'zandvliet': 2040,
 'zemst': 1980,
 'zijndrecht': 2070,
 'zoerle-parwijs': 2260,
 'zoersel': 2980,
 'zwijndrecht': 2070}

In [86]:
aed_within_antwerpen.groupby("new_municipality").size()

new_municipality
aartselaar         25
antwerpen         323
anvers              2
arendonk           17
artselaar           1
                 ...
zemst               2
zijndrecht          1
zoerle-parwijs      1
zoersel             2
zwijndrecht        11
Length: 144, dtype: int64

In [15]:
# for pair in list(zip(list(aed_within_antwerpen["new_municipality"]),list(aed_within_antwerpen["municipality"]))):
#     if pair[0]!=pair[1]:
#         print(pair)

In [87]:
aed_per_municipality = aed_within_antwerpen.groupby("new_municipality").size().to_frame()
aed_per_municipality.reset_index(inplace=True)
aed_per_municipality.columns = ["new_municipality","AED_number"]
aed_per_municipality

    new_municipality  AED_number
0         aartselaar          25
1          antwerpen         323
2             anvers           2
3           arendonk          17
4          artselaar           1
..               ...         ...
139            zemst           2
140       zijndrecht           1
141   zoerle-parwijs           1
142          zoersel           2
143      zwijndrecht          11

[144 rows x 2 columns]

In [88]:
aed_per_municipality["new_municipality"].unique()

array(['aartselaar', 'antwerpen', 'anvers', 'arendonk', 'artselaar',
       'baarle-hertog', 'balen', 'beerse', 'beerzel', 'berchem',
       'berlaar', 'blaasveld', 'boechout', 'bonheiden', 'booischot',
       'boom', 'borgerhout', 'bornem', 'borsbeek', 'brasschaat', 'brecht',
       'breendonk', 'broechem', 'bruxelles', 'burcht', 'dessel', 'deurne',
       'duffel', 'edegem', 'eikevliet', 'eindhout', 'ekeren', 'emblem',
       'essen', 'geel', 'gierle', 'grobbendonk', 'heist-op-den-berg',
       'hemiksem', 'herentals', 'herenthals', 'herenthout', 'herselt',
       'hoboken', 'hombeek', 'hoogstraten', 'hove', 'hulshout',
       'kalmthout', 'kapellen', 'kasterlee', 'keerbergen', 'kessel',
       'koningshooikt', 'kontich', 'laakdal', 'leest', 'lichtaart',
       'lier', 'lille', 'lille-gierle', 'lille-poederlee', 'lillo',
       'lint', 'loenhout', 'londerzeel', 'malle', 'massenhoven',
       'mechelen', 'meer', 'meerhout', 'meerle', 'merksem', 'merksplas',
       'minderhout', 'mol', 'mol - ginderbuiten', 'morkhoven', 'mortsel',
       'muizen', 'niel', 'nijlen', 'noorderwijk', 'oelegem', 'oevel',
       'olen', 'olmen', 'onze-lieve-vrouw-waver', 'oostmalle',
       'oud-turnhout', 'oud-turnout', 'poppel', 'pulderbos', 'pulle',
       'putte', 'puurs', 'puurs - sint - amands', 'puurs-sinr-amands',
       'puurs-sint-amands', 'ranst', 'ravels', 'reet', 'retie',
       'rijkevorsel', 'rijmenam', 'rumst', 'schelle', 'schilde',
       'schoten', 'schriek', 'sint-job- t-goor', 'sint-katelijne-waver',
       'stabroek', 'temse', 'terhagen', 'tielen', 'tisselt', 'tongerlo',
       'turnhout', 'veerle', 'viersel', 'vlimmeren', 'vorselaar',
       'vosselaar', 'waarloos', 'wechelderzande', 'weelde', 'westerlo',
       'westmalle', 'westmeerbeek', 'wijnegem', 'willebroek', 'wilrijk',
       'wintam', 'wommelgem', 'wortel', 'wuustwezel', 'zandhoven',
       'zandvliet', 'zemst', 'zijndrecht', 'zoerle-parwijs', 'zoersel',
       'zwijndrecht'], dtype=object)

In [229]:
def add_postal_code(text):
        postal = postal_code_municipality[text]
        text = text + "," + str(postal)
        return text

In [230]:
aed_per_municipality["new_municipality"] = aed_per_municipality["new_municipality"].apply(add_postal_code)

In [89]:
aed_per_municipality["new_municipality"] = aed_per_municipality["new_municipality"].apply(lambda x: x + ", belgium")

In [90]:
aed_per_municipality

            new_municipality  AED_number
0        aartselaar, belgium          25
1         antwerpen, belgium         323
2            anvers, belgium           2
3          arendonk, belgium          17
4         artselaar, belgium           1
..                       ...         ...
139           zemst, belgium           2
140      zijndrecht, belgium           1
141  zoerle-parwijs, belgium           1
142         zoersel, belgium           2
143     zwijndrecht, belgium          11

[144 rows x 2 columns]

In [233]:
# pattern = r'(?<!^)antw'
# for i in aed_per_municipality["new_municipality"]:
#     if re.search(pattern, i):
#         print(i)

In [201]:
# text = "tongerloantw"
# pattern = r'antw.*'
# text = re.sub(pattern, '', text)
# text

'tongerlo'

## Apply google maps API to get the location of the municipality and store as geometry

In [19]:
gmaps_key = googlemaps.Client(key="AIzaSyCssSY6Q6heYTlvfVRtLmWOpRGGruyEyEQ")

def geocode(add):
    g = gmaps_key.geocode(add)
    if g is not None and isinstance(g, list) and len(g) > 0:
        lat = g[0]["geometry"]["location"]["lat"]
        lng = g[0]["geometry"]["location"]["lng"]
        return (lng, lat)
    else:
        return None

In [91]:
    
aed_per_municipality["points_coordinates"] = aed_per_municipality["new_municipality"].apply(geocode)

In [92]:
aed_per_municipality["new_municipality"].unique()

array(['aartselaar, belgium', 'antwerpen, belgium', 'anvers, belgium',
       'arendonk, belgium', 'artselaar, belgium',
       'baarle-hertog, belgium', 'balen, belgium', 'beerse, belgium',
       'beerzel, belgium', 'berchem, belgium', 'berlaar, belgium',
       'blaasveld, belgium', 'boechout, belgium', 'bonheiden, belgium',
       'booischot, belgium', 'boom, belgium', 'borgerhout, belgium',
       'bornem, belgium', 'borsbeek, belgium', 'brasschaat, belgium',
       'brecht, belgium', 'breendonk, belgium', 'broechem, belgium',
       'bruxelles, belgium', 'burcht, belgium', 'dessel, belgium',
       'deurne, belgium', 'duffel, belgium', 'edegem, belgium',
       'eikevliet, belgium', 'eindhout, belgium', 'ekeren, belgium',
       'emblem, belgium', 'essen, belgium', 'geel, belgium',
       'gierle, belgium', 'grobbendonk, belgium',
       'heist-op-den-berg, belgium', 'hemiksem, belgium',
       'herentals, belgium', 'herenthals, belgium', 'herenthout, belgium',
       'herselt, belgium', 'hoboken, belgium', 'hombeek, belgium',
       'hoogstraten, belgium', 'hove, belgium', 'hulshout, belgium',
       'kalmthout, belgium', 'kapellen, belgium', 'kasterlee, belgium',
       'keerbergen, belgium', 'kessel, belgium', 'koningshooikt, belgium',
       'kontich, belgium', 'laakdal, belgium', 'leest, belgium',
       'lichtaart, belgium', 'lier, belgium', 'lille, belgium',
       'lille-gierle, belgium', 'lille-poederlee, belgium',
       'lillo, belgium', 'lint, belgium', 'loenhout, belgium',
       'londerzeel, belgium', 'malle, belgium', 'massenhoven, belgium',
       'mechelen, belgium', 'meer, belgium', 'meerhout, belgium',
       'meerle, belgium', 'merksem, belgium', 'merksplas, belgium',
       'minderhout, belgium', 'mol, belgium',
       'mol - ginderbuiten, belgium', 'morkhoven, belgium',
       'mortsel, belgium', 'muizen, belgium', 'niel, belgium',
       'nijlen, belgium', 'noorderwijk, belgium', 'oelegem, belgium',
       'oevel, belgium', 'olen, belgium', 'olmen, belgium',
       'onze-lieve-vrouw-waver, belgium', 'oostmalle, belgium',
       'oud-turnhout, belgium', 'oud-turnout, belgium', 'poppel, belgium',
       'pulderbos, belgium', 'pulle, belgium', 'putte, belgium',
       'puurs, belgium', 'puurs - sint - amands, belgium',
       'puurs-sinr-amands, belgium', 'puurs-sint-amands, belgium',
       'ranst, belgium', 'ravels, belgium', 'reet, belgium',
       'retie, belgium', 'rijkevorsel, belgium', 'rijmenam, belgium',
       'rumst, belgium', 'schelle, belgium', 'schilde, belgium',
       'schoten, belgium', 'schriek, belgium',
       'sint-job- t-goor, belgium', 'sint-katelijne-waver, belgium',
       'stabroek, belgium', 'temse, belgium', 'terhagen, belgium',
       'tielen, belgium', 'tisselt, belgium', 'tongerlo, belgium',
       'turnhout, belgium', 'veerle, belgium', 'viersel, belgium',
       'vlimmeren, belgium', 'vorselaar, belgium', 'vosselaar, belgium',
       'waarloos, belgium', 'wechelderzande, belgium', 'weelde, belgium',
       'westerlo, belgium', 'westmalle, belgium', 'westmeerbeek, belgium',
       'wijnegem, belgium', 'willebroek, belgium', 'wilrijk, belgium',
       'wintam, belgium', 'wommelgem, belgium', 'wortel, belgium',
       'wuustwezel, belgium', 'zandhoven, belgium', 'zandvliet, belgium',
       'zemst, belgium', 'zijndrecht, belgium', 'zoerle-parwijs, belgium',
       'zoersel, belgium', 'zwijndrecht, belgium'], dtype=object)

In [93]:
aed_per_municipality.sort_values("AED_number", ascending=False, inplace=True)

In [94]:
aed_per_municipality.isna().sum()

new_municipality      0
AED_number            0
points_coordinates    0
dtype: int64

In [95]:
aed_per_municipality

              new_municipality  AED_number               points_coordinates
1           antwerpen, belgium         323          (4.4051485, 51.2213404)
68           mechelen, belgium          86          (4.4775553, 51.0259143)
118          turnhout, belgium          48          (4.9375577, 51.3216509)
9             berchem, belgium          39          (4.4188392, 51.1955771)
58               lier, belgium          38           (4.5675409, 51.133455)
..                         ...         ...                              ...
110  sint-job- t-goor, belgium           1            (4.469936, 50.503887)
113             temse, belgium           1   (4.213669299999999, 51.127542)
114          terhagen, belgium           1   (4.3992612, 51.07919769999999)
40         herenthals, belgium           1  (4.836376599999999, 51.1771658)
93              pulle, belgium           1          (4.7137397, 51.2032977)

[144 rows x 3 columns]

In [96]:
aed_per_municipality[aed_per_municipality.duplicated(["points_coordinates"])]

,new_municipality,AED_number,points_coordinates
98,"puurs-sint-amands, belgium",14,"(4.2783654, 51.07097350000001)"
2,"anvers, belgium",2,"(4.4051485, 51.2213404)"
140,"zijndrecht, belgium",1,"(4.3290469, 51.2157101)"
4,"artselaar, belgium",1,"(4.3874914, 51.1344849)"
35,"gierle, belgium",1,"(4.8677063, 51.2671512)"
90,"oud-turnout, belgium",1,"(4.982241999999999, 51.3179033)"
96,"puurs - sint - amands, belgium",1,"(4.2783654, 51.07097350000001)"
97,"puurs-sinr-amands, belgium",1,"(4.2783654, 51.07097350000001)"
40,"herenthals, belgium",1,"(4.836376599999999, 51.1771658)"

In [106]:
aed_per_municipality[aed_per_municipality["points_coordinates"]==(4.836376599999999, 51.1771658)]

       new_municipality  AED_number               points_coordinates
39   herentals, belgium          34  (4.836376599999999, 51.1771658)
40  herenthals, belgium           1  (4.836376599999999, 51.1771658)

In [107]:
aed_per_municipality.drop_duplicates(["points_coordinates"], inplace=True)

In [108]:
aed_per_municipality[aed_per_municipality.duplicated(["points_coordinates"])]

Empty DataFrame
Columns: [new_municipality, AED_number, points_coordinates]
Index: []

In [249]:
# Keep duplicates that have the highest AED_number

In [109]:
aed_per_municipality

              new_municipality  AED_number              points_coordinates
1           antwerpen, belgium         323         (4.4051485, 51.2213404)
68           mechelen, belgium          86         (4.4775553, 51.0259143)
118          turnhout, belgium          48         (4.9375577, 51.3216509)
9             berchem, belgium          39         (4.4188392, 51.1955771)
58               lier, belgium          38          (4.5675409, 51.133455)
..                         ...         ...                             ...
109           schriek, belgium           1    (4.69272, 51.02744999999999)
110  sint-job- t-goor, belgium           1           (4.469936, 50.503887)
113             temse, belgium           1  (4.213669299999999, 51.127542)
114          terhagen, belgium           1  (4.3992612, 51.07919769999999)
93              pulle, belgium           1         (4.7137397, 51.2032977)

[135 rows x 3 columns]

In [110]:
aed_per_municipality.to_csv("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AED_PER_MUNICIPALITY_ANTW.csv", index=False)

In [44]:
aed_per_municipality = pd.read_csv(r"C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AED_PER_MUNICIPALITY_ANTW.csv", index_col=False)

## Cardiac Arrests per Municipality

In [8]:
folder_path = "C:\KU Leuven\Modern Data Analytics - MDA\MDA Project\MDA\dataset"
intvn1 = pd.read_parquet(f"{folder_path}\interventions1.parquet.gzip", engine="pyarrow")

In [9]:
antwerp_province = intvn1[intvn1["Province intervention"]=="ANT"]
antwerp_province_cardiac = antwerp_province[antwerp_province["EventType Trip"]=='P003 - Cardiac arrest']
antwerp_province_cardiac = antwerp_province_cardiac[["PostalCode intervention","CityName intervention","Latitude intervention","Longitude intervention"]]
antwerp_province_cardiac.drop("PostalCode intervention", axis=1, inplace=True)

In [10]:
antwerp_province_cardiac.head()

    CityName intervention  Latitude intervention  Longitude intervention
42              Mol (Mol)               51.20685                 5.13662
87    Antwerpen (Merksem)               51.24848                 4.43869
88    Antwerpen (Merksem)               51.24848                 4.43869
207    Antwerpen (Ekeren)               51.28273                 4.42134
208    Antwerpen (Ekeren)               51.28273                 4.42134

In [12]:
antwerp_province_cardiac["CityName intervention"].unique()

array(['Mol (Mol)', 'Antwerpen (Merksem)', 'Antwerpen (Ekeren)',
       'Antwerpen (Wilrijk)', 'Vorselaar (Vorselaar)', 'Mechelen (Walem)',
       'Edegem (Edegem)', 'Zwijndrecht (Zwijndrecht)',
       'Kalmthout (Kalmthout)', 'Brasschaat (Brasschaat)',
       'Antwerpen (Antwerpen)', 'Antwerpen (Borgerhout)', 'Geel (Geel)',
       'Lille (Gierle)', 'Herentals (Noorderwijk)', 'Zoersel (Zoersel)',
       'Retie (Retie)', 'Essen (Essen)', "Schilde ('s-Gravenwezel)",
       'Schilde (Schilde)', 'Schoten (Schoten)', 'Turnhout (Turnhout)',
       'Lier (Lier)', 'Westerlo (Tongerlo)', 'Antwerpen (Deurne)',
       'Nijlen (Kessel)', 'Stabroek (Hoevenen)', 'Duffel (Duffel)',
       'Antwerpen (Berendrecht)', 'Westerlo (Zoerle-Parwijs)',
       'Ravels (Weelde)', 'Herentals (Herentals)',
       'Willebroek (Willebroek)', 'Herselt (Herselt)',
       'Mechelen (Mechelen)', 'Antwerpen (Berchem)', 'Malle (Oostmalle)',
       'Dessel (Dessel)', 'Nijlen (Nijlen)', 'Balen (Balen)',
       'Bornem (Bornem)', 'Mechelen (Muizen)', 'Kapellen (Kapellen)',
       'Zoersel (Halle)', 'Wuustwezel (Wuustwezel)',
       'Zandhoven (Pulderbos)', 'Willebroek (Tisselt)',
       'Hulshout (Hulshout)', 'Kontich (Kontich)',
       'Hoogstraten (Minderhout)', 'Kasterlee (Kasterlee)',
       'Meerhout (Meerhout)', 'Hoogstraten (Hoogstraten)',
       'Sint-Katelijne-Waver (Sint-Katelijne-Waver)',
       'Grobbendonk (Grobbendonk)', 'Antwerpen (Hoboken)',
       'Heist-op-den-Berg (Heist-op-den-Berg)', 'Beerse (Beerse)',
       'Hemiksem (Hemiksem)', 'Niel (Niel)', 'Brecht (Sint-Lenaarts)',
       'Beerse (Vlimmeren)', 'Mortsel (Mortsel)', 'Grobbendonk (Bouwel)',
       'Wommelgem (Wommelgem)', 'Bonheiden (Rijmenam)',
       'Zandhoven (Pulle)', 'Heist-op-den-Berg (Itegem)',
       'Ranst (Broechem)', 'Oud-Turnhout (Oud-Turnhout)',
       'Merksplas (Merksplas)', 'Schelle (Schelle)',
       'Boechout (Boechout)', 'Ranst (Emblem)', 'Berlaar (Berlaar)',
       'Borsbeek (Borsbeek)', 'Heist-op-den-Berg (Booischot)',
       'Boom (Boom)', 'Puurs-Sint-Amands (Lippelo)', 'Malle (Westmalle)',
       'Lille (Wechelderzande)', 'Brecht (Brecht)', 'Ranst (Oelegem)',
       'Aartselaar (Aartselaar)', 'Laakdal (Vorst)', 'Herselt (Ramsel)',
       'Zandhoven (Zandhoven)', 'Putte (Putte)',
       'Rijkevorsel (Rijkevorsel)', 'Kasterlee (Lichtaart)',
       'Mechelen (Hombeek)', 'Arendonk (Arendonk)', 'Putte (Beerzel)',
       'Heist-op-den-Berg (Hallaar)', 'Willebroek (Blaasveld)',
       'Westerlo (Westerlo)', 'Bonheiden (Bonheiden)',
       'Vosselaar (Vosselaar)', 'Mechelen (Leest)',
       'Puurs-Sint-Amands (Ruisbroek)', 'Bornem (Mariekerke)',
       'Lommel (Lommel)', 'Hechtel-Eksel (Eksel)',
       'Heist-op-den-Berg (Schriek)', 'Oudsbergen (Opglabbeek)',
       'Puurs-Sint-Amands (Breendonk)', 'Stabroek (Stabroek)',
       'Wuustwezel (Loenhout)', 'Olen (Olen)',
       'Sint-Truiden (Sint-Truiden)', 'Herenthout (Herenthout)',
       "Brecht (Sint-Job-in-'t-Goor)", 'Wijnegem (Wijnegem)',
       'Hoogstraten (Meerle)', 'Rumst (Rumst)', 'Laakdal (Veerle)',
       'Kasterlee (Tielen)', 'Puurs-Sint-Amands (Liezele)',
       'Puurs-Sint-Amands (Sint-Amands)',
       'Sint-Katelijne-Waver (Onze-Lieve-Vrouw-Waver)',
       'Heist-op-den-Berg (Wiekevorst)', 'Laakdal (Eindhout)',
       'Riemst (Zichen-Zussen-Bolder)', 'Bornem (Hingene)',
       'Zandhoven (Massenhoven)', 'Hulshout (Westmeerbeek)',
       'Ranst (Ranst)', 'Hoogstraten (Meer)', 'Hasselt (Hasselt)',
       'Baarle-Hertog (Baarle-Hertog)', 'As (As)',
       'Houthalen-Helchteren (Houthalen)', 'Beringen (Koersel)',
       'Diepenbeek (Diepenbeek)', 'Borgloon (Borgloon)',
       'Puurs-Sint-Amands (Puurs)', 'Ham (Oostham)', 'Lille (Poederlee)',
       'Rumst (Reet)', 'Lint (Lint)', 'Boechout (Vremde)',
       'Balen (Olmen)', 'Zwijndrecht (Burcht)', 'Lille (Lille)',
       'Genk (Genk)', 'Ravels (Eel)', 'Ravels (Poppel)',
       'Puurs-Sint-Amands (Oppuurs)', 'Antwerpen (Zandvliet)',
       'Hoeselt (Hoeselt)', 'Lier (Koningshooikt)',
       'Oudsbergen (Meeuwen)', 'Mechelen (Heffen)', 'Kontich (Waarloos)',
       'Willebroek (Heindonk)', 'Herk-de-Stad (Herk-de-Stad)',
       'Lummen (Lummen)', 'Heist-op-den-Berg (Grootlo)',
       'Wuustwezel (Gooreind)', 'Tongeren (Vreren)', 'Meerhout (Gestel)',
       'Hove (Hove)', 'Heusden-Zolder (Zolder)', 'Sint-Truiden (Aalst)',
       'Geel (Ten Aard)', 'NLD-Baarle-Nassau (CastelrÈ)',
       'Tongeren (Tongeren)', 'Westerlo (Heultje)'], dtype=object)

In [7]:
antwerp_province_cardiac.isna().sum()

CityName intervention       0
Latitude intervention     356
Longitude intervention      0
dtype: int64

In [12]:
len(antwerp_province_cardiac["CityName intervention"].unique())

168

In [ ]:
# municipalities_cleaned = []
# for name in municipalities:
#     new_name = name.lower().split()[1].strip("()")
#     municipalities_cleaned.append(new_name)
# municipalities_cleaned.sort()
# municipalities_cleaned

In [30]:
antwerp_province_cardiac["new_municipality"] = antwerp_province_cardiac["CityName intervention"].apply(lambda x: x.lower().split()[1].strip("()"))

In [14]:
antwerp_province_cardiac["new_municipality"].unique()

array(['mol', 'merksem', 'ekeren', 'wilrijk', 'vorselaar', 'walem',
       'edegem', 'zwijndrecht', 'kalmthout', 'brasschaat', 'antwerpen',
       'borgerhout', 'geel', 'gierle', 'noorderwijk', 'zoersel', 'retie',
       'essen', "'s-gravenwezel", 'schilde', 'schoten', 'turnhout',
       'lier', 'tongerlo', 'deurne', 'kessel', 'hoevenen', 'duffel',
       'berendrecht', 'zoerle-parwijs', 'weelde', 'herentals',
       'willebroek', 'herselt', 'mechelen', 'berchem', 'oostmalle',
       'dessel', 'nijlen', 'balen', 'bornem', 'muizen', 'kapellen',
       'halle', 'wuustwezel', 'pulderbos', 'tisselt', 'hulshout',
       'kontich', 'minderhout', 'kasterlee', 'meerhout', 'hoogstraten',
       'sint-katelijne-waver', 'grobbendonk', 'hoboken',
       'heist-op-den-berg', 'beerse', 'hemiksem', 'niel', 'sint-lenaarts',
       'vlimmeren', 'mortsel', 'bouwel', 'wommelgem', 'rijmenam', 'pulle',
       'itegem', 'broechem', 'oud-turnhout', 'merksplas', 'schelle',
       'boechout', 'emblem', 'berlaar', 'borsbeek', 'booischot', 'boom',
       'lippelo', 'westmalle', 'wechelderzande', 'brecht', 'oelegem',
       'aartselaar', 'vorst', 'ramsel', 'zandhoven', 'putte',
       'rijkevorsel', 'lichtaart', 'hombeek', 'arendonk', 'beerzel',
       'hallaar', 'blaasveld', 'westerlo', 'bonheiden', 'vosselaar',
       'leest', 'ruisbroek', 'mariekerke', 'lommel', 'eksel', 'schriek',
       'opglabbeek', 'breendonk', 'stabroek', 'loenhout', 'olen',
       'sint-truiden', 'herenthout', "sint-job-in-'t-goor", 'wijnegem',
       'meerle', 'rumst', 'veerle', 'tielen', 'liezele', 'sint-amands',
       'onze-lieve-vrouw-waver', 'wiekevorst', 'eindhout',
       'zichen-zussen-bolder', 'hingene', 'massenhoven', 'westmeerbeek',
       'ranst', 'meer', 'hasselt', 'baarle-hertog', 'as', 'houthalen',
       'koersel', 'diepenbeek', 'borgloon', 'puurs', 'oostham',
       'poederlee', 'reet', 'lint', 'vremde', 'olmen', 'burcht', 'lille',
       'genk', 'eel', 'poppel', 'oppuurs', 'zandvliet', 'hoeselt',
       'koningshooikt', 'meeuwen', 'heffen', 'waarloos', 'heindonk',
       'herk-de-stad', 'lummen', 'grootlo', 'gooreind', 'vreren',
       'gestel', 'hove', 'zolder', 'aalst', 'ten', 'castelrè', 'tongeren',
       'heultje'], dtype=object)

In [31]:
antwerp_province_cardiac["new_municipality"] = antwerp_province_cardiac["new_municipality"].apply(lambda x: x + ", belgium")

In [32]:
antwerp_province_cardiac.head()

,CityName intervention,Latitude intervention,Longitude intervention,new_municipality
42,Mol (Mol),51.20685,5.13662,"mol, belgium"
87,Antwerpen (Merksem),51.24848,4.43869,"merksem, belgium"
88,Antwerpen (Merksem),51.24848,4.43869,"merksem, belgium"
207,Antwerpen (Ekeren),51.28273,4.42134,"ekeren, belgium"
208,Antwerpen (Ekeren),51.28273,4.42134,"ekeren, belgium"

In [33]:
cardiac_per_municipality = antwerp_province_cardiac.groupby("new_municipality").size().to_frame()
cardiac_per_municipality.reset_index(inplace=True)
cardiac_per_municipality.columns = ["new_municipality","cardiac_arrests_number"]
cardiac_per_municipality

                  new_municipality  cardiac_arrests_number
0          's-gravenwezel, belgium                       7
1                   aalst, belgium                       2
2              aartselaar, belgium                      19
3               antwerpen, belgium                     318
4                arendonk, belgium                      11
..                             ...                     ...
163  zichen-zussen-bolder, belgium                       4
164        zoerle-parwijs, belgium                       5
165               zoersel, belgium                      22
166                zolder, belgium                       2
167           zwijndrecht, belgium                      19

[168 rows x 2 columns]

In [34]:
cardiac_per_municipality["points_coordinates"] = cardiac_per_municipality["new_municipality"].apply(geocode)

In [35]:
cardiac_per_municipality

,new_municipality,cardiac_arrests_number,points_coordinates
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)"
1,"aalst, belgium",2,"(4.0424216, 50.9407315)"
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)"
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)"
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)"
...,...,...,...
163,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)"
164,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)"
165,"zoersel, belgium",22,"(4.7123589, 51.2674174)"
166,"zolder, belgium",2,"(5.3097324, 51.0229535)"
167,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)"

In [36]:
cardiac_per_municipality[cardiac_per_municipality.duplicated(["points_coordinates"])]

    new_municipality  cardiac_arrests_number     points_coordinates
34      eel, belgium                       2  (4.469936, 50.503887)
135     ten, belgium                       2  (4.469936, 50.503887)

In [39]:
# Drop row 33 and 135
cardiac_per_municipality = cardiac_per_municipality.drop([34,135])

In [40]:
cardiac_per_municipality[cardiac_per_municipality.duplicated(["points_coordinates"])]

Empty DataFrame
Columns: [new_municipality, cardiac_arrests_number, points_coordinates]
Index: []

In [42]:
cardiac_per_municipality

,new_municipality,cardiac_arrests_number,points_coordinates
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)"
1,"aalst, belgium",2,"(4.0424216, 50.9407315)"
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)"
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)"
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)"
...,...,...,...
163,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)"
164,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)"
165,"zoersel, belgium",22,"(4.7123589, 51.2674174)"
166,"zolder, belgium",2,"(5.3097324, 51.0229535)"
167,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)"

In [7]:
cardiac_per_municipality.to_csv("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\CARDIAC_PER_MUNICIPALITY_ANTW.csv", index=False)

NameError: name 'cardiac_per_municipality' is not defined

## Merge cardiac_per_municipality with aed_per_municipality

In [111]:
aed_per_municipality

              new_municipality  AED_number              points_coordinates
1           antwerpen, belgium         323         (4.4051485, 51.2213404)
68           mechelen, belgium          86         (4.4775553, 51.0259143)
118          turnhout, belgium          48         (4.9375577, 51.3216509)
9             berchem, belgium          39         (4.4188392, 51.1955771)
58               lier, belgium          38          (4.5675409, 51.133455)
..                         ...         ...                             ...
109           schriek, belgium           1    (4.69272, 51.02744999999999)
110  sint-job- t-goor, belgium           1           (4.469936, 50.503887)
113             temse, belgium           1  (4.213669299999999, 51.127542)
114          terhagen, belgium           1  (4.3992612, 51.07919769999999)
93              pulle, belgium           1         (4.7137397, 51.2032977)

[135 rows x 3 columns]

In [112]:
cardiac_per_municipality

,new_municipality,cardiac_arrests_number,points_coordinates
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)"
1,"aalst, belgium",2,"(4.0424216, 50.9407315)"
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)"
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)"
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)"
...,...,...,...
163,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)"
164,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)"
165,"zoersel, belgium",22,"(4.7123589, 51.2674174)"
166,"zolder, belgium",2,"(5.3097324, 51.0229535)"
167,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)"

In [113]:
aed_cardiac_per_municipality_ant = cardiac_per_municipality.merge(aed_per_municipality, how="left", on="points_coordinates")
aed_cardiac_per_municipality_ant

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)",NaN,NaN
1,"aalst, belgium",2,"(4.0424216, 50.9407315)",NaN,NaN
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0
...,...,...,...,...,...
161,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)",NaN,NaN
162,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0
163,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0
164,"zolder, belgium",2,"(5.3097324, 51.0229535)",NaN,NaN
165,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0

In [127]:
def lat_split(text):
    lat = float(text.split(',')[0].strip('()'))
    return lat

def lng_split(text):
    lat = float(text.split(',')[1].strip('()'))
    return lat

In [130]:
def lat(pair):
    return pair[1]

def lng(pair):
    return pair[0]

In [131]:
lat(aed_cardiac_per_municipality_ant["points_coordinates"][0])

51.26292000000001

In [132]:
aed_cardiac_per_municipality_ant["lat"] = aed_cardiac_per_municipality_ant["points_coordinates"].apply(lat)
aed_cardiac_per_municipality_ant["lng"] = aed_cardiac_per_municipality_ant["points_coordinates"].apply(lng)

In [133]:
aed_cardiac_per_municipality_ant

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)",NaN,NaN,51.262920,4.560960
1,"aalst, belgium",2,"(4.0424216, 50.9407315)",NaN,NaN,50.940731,4.042422
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649
...,...,...,...,...,...,...,...
161,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)",NaN,NaN,50.793350,5.624555
162,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0,51.088790,4.868940
163,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0,51.267417,4.712359
164,"zolder, belgium",2,"(5.3097324, 51.0229535)",NaN,NaN,51.022953,5.309732
165,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0,51.215710,4.329047

In [134]:
# Create a geometry column 
aed_cardiac_per_municipality_ant['geometry'] = gpd.points_from_xy(aed_cardiac_per_municipality_ant["lng"], aed_cardiac_per_municipality_ant["lat"])

In [135]:
aed_cardiac_per_municipality_ant

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng,geometry
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)",NaN,NaN,51.262920,4.560960,POINT (4.56096 51.26292)
1,"aalst, belgium",2,"(4.0424216, 50.9407315)",NaN,NaN,50.940731,4.042422,POINT (4.04242 50.94073)
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491,POINT (4.38749 51.13448)
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149,POINT (4.40515 51.22134)
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649,POINT (5.07765 51.32278)
...,...,...,...,...,...,...,...,...
161,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)",NaN,NaN,50.793350,5.624555,POINT (5.62456 50.79335)
162,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0,51.088790,4.868940,POINT (4.86894 51.08879)
163,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0,51.267417,4.712359,POINT (4.71236 51.26742)
164,"zolder, belgium",2,"(5.3097324, 51.0229535)",NaN,NaN,51.022953,5.309732,POINT (5.30973 51.02295)
165,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0,51.215710,4.329047,POINT (4.32905 51.21571)

In [136]:
# Create a geodataframe 
aed_cardiac_per_municipality_ant_geo = gpd.GeoDataFrame(aed_cardiac_per_municipality_ant, 
                           crs = area_provinces.crs, 
                           geometry = aed_cardiac_per_municipality_ant["geometry"])
print(type(aed_cardiac_per_municipality_ant_geo))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [139]:
aed_cardiac_per_municipality_ant_geo

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng,geometry
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)",NaN,NaN,51.262920,4.560960,POINT (4.56096 51.26292)
1,"aalst, belgium",2,"(4.0424216, 50.9407315)",NaN,NaN,50.940731,4.042422,POINT (4.04242 50.94073)
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491,POINT (4.38749 51.13448)
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149,POINT (4.40515 51.22134)
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649,POINT (5.07765 51.32278)
...,...,...,...,...,...,...,...,...
161,"zichen-zussen-bolder, belgium",4,"(5.6245555, 50.7933496)",NaN,NaN,50.793350,5.624555,POINT (5.62456 50.79335)
162,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0,51.088790,4.868940,POINT (4.86894 51.08879)
163,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0,51.267417,4.712359,POINT (4.71236 51.26742)
164,"zolder, belgium",2,"(5.3097324, 51.0229535)",NaN,NaN,51.022953,5.309732,POINT (5.30973 51.02295)
165,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0,51.215710,4.329047,POINT (4.32905 51.21571)

In [123]:
area_provinces

,province,area_klm2,center,geometry
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4..."
1,bruxelles-brussel,406.990727,"(50.836032848225344, 4.3706868102113186)","POLYGON ((4.40633 50.91309, 4.40722 50.91295, ..."
2,vlaams-brabant,5312.588509,"(50.87273172382932, 4.590610254578612)","POLYGON ((3.98787 50.68749, 3.98772 50.68749, ..."
3,brabant wallon,2728.216099,"(50.66933278511629, 4.583786485041254)","POLYGON ((4.75386 50.80639, 4.75387 50.80639, ..."
4,west-vlaanderen,7987.315544,"(51.01142287974023, 3.057645147430322)","MULTIPOLYGON (((2.65679 51.12932, 2.65663 51.1..."
5,oost-vlaanderen,7595.941079,"(51.036508957319626, 3.816361792799826)","POLYGON ((4.31166 51.29250, 4.31431 51.29112, ..."
6,hainaut,9401.428447,"(50.46969476722217, 3.959399551550251)","MULTIPOLYGON (((3.71031 50.78190, 3.71065 50.7..."
7,liège,9531.529485,"(50.520548064389395, 5.736605195342704)","POLYGON ((6.13338 50.12956, 6.13309 50.12968, ..."
8,limburg,6119.002346,"(50.9914931483222, 5.4291859343176005)","MULTIPOLYGON (((5.77703 50.78285, 5.77662 50.7..."
9,luxembourg,10763.967091,"(49.96172789168535, 5.513349067860746)","POLYGON ((5.43891 50.42170, 5.43908 50.42165, ..."
10,namur,8980.230372,"(50.255711368155666, 4.852274083064385)","POLYGON ((4.97055 50.64532, 4.97142 50.64479, ..."

In [125]:
antwerp= area_provinces.iloc[[0]]
antwerp

,province,area_klm2,center,geometry
0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)","MULTIPOLYGON (((4.94209 51.45524, 4.94062 51.4..."

In [145]:
aed_cardiac_per_municipality_ant_geo_merged = gpd.sjoin(aed_cardiac_per_municipality_ant_geo,antwerp,predicate = 'within')
len(aed_cardiac_per_municipality_ant_geo_merged)

142

In [146]:
aed_cardiac_per_municipality_ant_geo_merged

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng,geometry,index_right,province,area_klm2,center
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)",NaN,NaN,51.262920,4.560960,POINT (4.56096 51.26292),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
2,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491,POINT (4.38749 51.13448),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
3,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149,POINT (4.40515 51.22134),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
4,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649,POINT (5.07765 51.32278),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
6,"baarle-hertog, belgium",4,"(4.9318189, 51.4415736)","baarle-hertog, belgium",1.0,51.441574,4.931819,POINT (4.93182 51.44157),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
...,...,...,...,...,...,...,...,...,...,...,...,...
159,"zandhoven, belgium",5,"(4.656535499999999, 51.2135303)","zandhoven, belgium",4.0,51.213530,4.656535,POINT (4.65654 51.21353),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
160,"zandvliet, belgium",2,"(4.30716, 51.35964999999999)","zandvliet, belgium",1.0,51.359650,4.307160,POINT (4.30716 51.35965),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
162,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0,51.088790,4.868940,POINT (4.86894 51.08879),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
163,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0,51.267417,4.712359,POINT (4.71236 51.26742),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"
165,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0,51.215710,4.329047,POINT (4.32905 51.21571),0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)"

In [151]:
aed_cardiac_per_municipality_ant_geo_merged["points_coordinates"] = aed_cardiac_per_municipality_ant_geo_merged["points_coordinates"].astype(str)

In [152]:
aed_cardiac_per_municipality_ant_geo_merged["points_coordinates"][0]

'(4.56096, 51.26292000000001)'

In [153]:
aed_cardiac_per_municipality_ant_geo_merged.to_file("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AED_CARDIAC_MUNICIPALITY_ANTW_MERGED.geojson", driver='GeoJSON')

# Bubble Plot AED-Cardiac Arrests-Antwerp

In [4]:
aed_cardiac_per_municipality_ant_geo_merged = gpd.read_file("C:\KU Leuven\Modern Data Analytics - MDA\MDA Project BackUp\AED_CARDIAC_MUNICIPALITY_ANTW_MERGED.geojson")

In [5]:
aed_cardiac_per_municipality_ant_geo_merged.head()

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng,index_right,province,area_klm2,center,geometry
0,"'s-gravenwezel, belgium",7,"(4.56096, 51.26292000000001)",None,NaN,51.262920,4.560960,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.56096 51.26292)
1,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.38749 51.13448)
2,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.40515 51.22134)
3,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (5.07765 51.32278)
4,"baarle-hertog, belgium",4,"(4.9318189, 51.4415736)","baarle-hertog, belgium",1.0,51.441574,4.931819,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.93182 51.44157)

In [6]:
aed_cardiac_per_municipality_ant_geo_merged_clean = aed_cardiac_per_municipality_ant_geo_merged.dropna()

In [7]:
aed_cardiac_per_municipality_ant_geo_merged_clean

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng,index_right,province,area_klm2,center,geometry
1,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.38749 51.13448)
2,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.40515 51.22134)
3,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (5.07765 51.32278)
4,"baarle-hertog, belgium",4,"(4.9318189, 51.4415736)","baarle-hertog, belgium",1.0,51.441574,4.931819,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.93182 51.44157)
5,"balen, belgium",29,"(5.167686499999999, 51.17041469999999)","balen, belgium",18.0,51.170415,5.167687,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (5.16769 51.17041)
...,...,...,...,...,...,...,...,...,...,...,...,...
137,"zandhoven, belgium",5,"(4.656535499999999, 51.2135303)","zandhoven, belgium",4.0,51.213530,4.656536,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.65654 51.21353)
138,"zandvliet, belgium",2,"(4.30716, 51.35964999999999)","zandvliet, belgium",1.0,51.359650,4.307160,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.30716 51.35965)
139,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0,51.088790,4.868940,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.86894 51.08879)
140,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0,51.267417,4.712359,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.71236 51.26742)
141,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0,51.215710,4.329047,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.32905 51.21571)

In [8]:
aed_cardiac_per_municipality_ant_geo_merged_clean["cardiac_to_aed"] = aed_cardiac_per_municipality_ant_geo_merged_clean["cardiac_arrests_number"] / aed_cardiac_per_municipality_ant_geo_merged_clean["AED_number"]

c:\KU Leuven\Modern Data Analytics - MDA\MDA Project\.venv\Lib\site-packages\geopandas\geodataframe.py:1525: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [9]:
aed_cardiac_per_municipality_ant_geo_merged_clean

,new_municipality_x,cardiac_arrests_number,points_coordinates,new_municipality_y,AED_number,lat,lng,index_right,province,area_klm2,center,geometry,cardiac_to_aed
1,"aartselaar, belgium",19,"(4.3874914, 51.1344849)","aartselaar, belgium",25.0,51.134485,4.387491,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.38749 51.13448),0.760000
2,"antwerpen, belgium",318,"(4.4051485, 51.2213404)","antwerpen, belgium",323.0,51.221340,4.405149,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.40515 51.22134),0.984520
3,"arendonk, belgium",11,"(5.0776492, 51.3227802)","arendonk, belgium",17.0,51.322780,5.077649,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (5.07765 51.32278),0.647059
4,"baarle-hertog, belgium",4,"(4.9318189, 51.4415736)","baarle-hertog, belgium",1.0,51.441574,4.931819,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.93182 51.44157),4.000000
5,"balen, belgium",29,"(5.167686499999999, 51.17041469999999)","balen, belgium",18.0,51.170415,5.167687,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (5.16769 51.17041),1.611111
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,"zandhoven, belgium",5,"(4.656535499999999, 51.2135303)","zandhoven, belgium",4.0,51.213530,4.656536,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.65654 51.21353),1.250000
138,"zandvliet, belgium",2,"(4.30716, 51.35964999999999)","zandvliet, belgium",1.0,51.359650,4.307160,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.30716 51.35965),2.000000
139,"zoerle-parwijs, belgium",5,"(4.868939999999999, 51.08879)","zoerle-parwijs, belgium",1.0,51.088790,4.868940,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.86894 51.08879),5.000000
140,"zoersel, belgium",22,"(4.7123589, 51.2674174)","zoersel, belgium",2.0,51.267417,4.712359,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.71236 51.26742),11.000000
141,"zwijndrecht, belgium",19,"(4.3290469, 51.2157101)","zwijndrecht, belgium",11.0,51.215710,4.329047,0,antwerpen,7323.997641,"(51.229679165931266, 4.719820314416564)",POINT (4.32905 51.21571),1.727273

In [10]:
aed_cardiac_per_municipality_ant_geo_merged_clean.dtypes

new_municipality_x          object
cardiac_arrests_number       int64
points_coordinates          object
new_municipality_y          object
AED_number                 float64
lat                        float64
lng                        float64
index_right                  int64
province                    object
area_klm2                  float64
center                      object
geometry                  geometry
cardiac_to_aed             float64
dtype: object

In [38]:
text = "aartselaar, belgium"
text.split()[0].strip(",").capitalize()

'Aartselaar'

In [39]:
aed_cardiac_per_municipality_ant_geo_merged_clean["municipality_name"] = aed_cardiac_per_municipality_ant_geo_merged_clean["new_municipality_x"].apply(lambda x: x.split()[0].strip(",").capitalize())

c:\KU Leuven\Modern Data Analytics - MDA\MDA Project\.venv\Lib\site-packages\geopandas\geodataframe.py:1525: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
labels ={"cardiac_to_aed":"Cardiac/AED (Ratio)","municipality_name": "Municipality", "lat":"Latitude", "lng": "Longitude", "AED_number":"AED Number"
         ,"cardiac_arrests_number":"Cardiac Arrests"}
hover_data = {"cardiac_arrests_number":True, "AED_number":True, "lat":False, "lng":False}


fig = px.scatter_mapbox(aed_cardiac_per_municipality_ant_geo_merged_clean, lat="lat", lon="lng", color="cardiac_to_aed", size="AED_number",
                  color_continuous_scale=px.colors.sequential.matter, size_max=80, zoom=10, text="municipality_name", labels=labels, 
                  title="AED and Cardiac Arrests Distribution Per Municipality - Antwerpen", opacity=0.8, 
                   hover_name="municipality_name",
                   hover_data=hover_data,
                  mapbox_style="carto-positron")
fig.show()
pio.write_html(fig, "bubble_plot_antwerp.html")